{% extends "layout.html" %}
{% block body %}

<br>
<marquee behavior="scroll" bgcolor="#8165B1" direction="down" height="100" scrollamount="1"><center><font face=adler color="#ffffff" size=5> -SITIO WEB BASICO PARA ADMINISTRAR CURSOS Y ESTUDIANTES- </font> </center></marquee>
<br>
<br>
<br>
<marquee behavior="scroll" bgcolor="#8165B1" direction="down" height="90" scrollamount="1"><center><font face=adler color="#ffffff" size=5> Nelson Saul Figueroa Pantoja // Cristian Camilo Ordoñez Manquillo </font> </center></marquee>
<br>
<br>
<br>
<marquee behavior="scroll" bgcolor="#8165B1" direction="down" height="80" scrollamount="1"><center><font face=adler color="#ffffff" size=5> -Instituto Tecnologico del Putumayo- </font> </center></marquee>
<br>
<br>
<br>

{% endblock %}
